.film {
    display: flex;
    margin: 20px 0;
}

.filmImg {
    display: block;

    width: 120px;
}

.filmTitle {
    margin: 0;
}
.likeBtn {
    cursor: pointer;
    font-size: 40px;
}

.likeBtn.active {
    color: red;
}
